<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brush</title>
    <style>
        html,
        body,
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100vh;
        }

        #canvas {
            border: 1px solid #efefef;
        }
    </style>
</head>

<body>
    <canvas id="canvas" width="640" height="640"></canvas>
    <script type="module">
        import Brush from '../bundled/brush.esm.js';

        const canvas = document.querySelector('#canvas');
        const brush = new Brush(canvas);

        window.__brush__ = brush;
    </script>
</body>

</html>